*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.hamburger-menu{
    display: none;
}

header{
    width: 100%;
    background-color: #1A0B2E;
    border: 1px solid #412567;
}
nav{
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
    
}


nav ul{
    display: flex;
    gap: 32px;
}

nav li{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav button{
    color: white;
    border-radius: 100000px;
    padding: 12.5px 16px;
    background: linear-gradient(106deg,#F7E93F, #FB09B4, #9100F8);
    border: none;
    font-weight: 600;
    align-items: center;
}

.hero-banner{
    background: url(../assets/hero-bg.png);
    width: 100%;
    padding: 101px 0;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-content{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid white; */
}

.hero-circle-content{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    margin: 0 auto;
}

.back{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front{
    position: absolute;
    width: 100px;
    height: 150px;
}

.hero-header{
    text-align: center;
    padding-top: 40px;
    /* border: 1px solid white; */
}

.hero-text{
    color: white;
}

.hero-text h1{
    font-size: 3.75rem;
    font-weight: 800;
}

.hero-text p{
    padding-top: 8px;
    font-size: 1rem;
    opacity: 0.8;
}

.badge{
    position: absolute;
    background-color: #00FF88;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 8px 16px;
    color: #1A0B2E;
    border-radius: 1000px;
    box-shadow: 0 3px 27px 0 #00ff8850;
    top: 5%;
    left: 70%;
}
.hero-btn{
    /* gap: 10px; */
    padding-top: 24px;
    /* border: 1px solid; */
}
.spotify-btn{
    
    color: white;
    border-radius: 100000px;
    background: linear-gradient(106deg,#F7E93F, #FB09B4, #9100F8);
    border: none;
    font-weight: 600;
    align-items: center;
    padding: 12px 20px;
}

.subs-btn{
    color: #00FF88;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;

}

.about-podcast{
    background-color: #1A0B2E;
}

.about{
    width: 80%;
    margin: 0 auto;
    padding: 50px 200px 120px 200px;
}

.about-header{
    color: white;
    text-align: center;
    margin-bottom: 80px;
}

hr{
    opacity: 0.1;
}

.about-header h2{
    margin-bottom: 16px;
    font-size: 3rem;
    font-weight: 700;
}

.about-header p{
    opacity: 0.8;
    line-height: 30px;
}

.about-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 80px;
    gap: 80px;
    
}

.card h1{
    color: #00FF88;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 16px;
}

.card p{
    opacity: 0.8;
    color: white;
}

.choose{
    background-color: #230E3D;
}

.choose-content{
    padding: 100px 180px 100px 180px;
    width: 90%;
    margin: 0 auto;
}

.choose-header{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.choose-box{
    display: grid;
    gap: 15px;
    grid-template-columns:  repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.choose-box .choose-card{
    width: 100%;
    height: 100%;
}

.choose-card{
    background-color: #35116540;
    border-radius: 40px;
}

.row2{
    grid-column: span 2;
    grid-row: span 4;
    /* padding: 100px 40px 0 40px; */
    padding: 40px;
}
.column2{
    grid-column: span 4;
    grid-row: span 2;
    padding: 40px;

}
.row1{
    grid-column: span 2;
    grid-row: span 2;
    padding: 40px;
}

.choose-card{
    color: white;
    align-content: center;
    line-height: 24px;
    /* padding: 107px 40px 107px 40px; */
}

.choose-card img{
    margin-bottom: 16px;
}

.choose-card h5{
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 700;
}

.choose-card p{
    opacity: 0.6;
}















@media screen and (max-width: 576px){
    
    .hide-mobile{
    display: none;
}

.hamburger-menu{
    display: block;
}

header{
        /* max-width: 600px; */
        width: 100%;
        
    }

    nav{
    width: 100%;
    padding: 30px 20px 30px 20px;
    
}

.hamburger-menu img{
    width: 24px;
}

.hero-banner{
    width: 100%;
    background: url(../assets/Image.png);
    /* border: 1px solid rgb(255, 5, 5); */
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.hero-content{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid white; */
}

.hero-circle-content{
    position: relative;
    width: 200px;
    height: 200px;
}
.back{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front{
    position: absolute;
    width: 50px;
    height: 80px;
}

.hero-header{
    padding-top: 30px;
    /* border: 1px solid white; */
}

.badge{
    font-size: 0.8rem;
}

.about{
    padding: 40px 10px;
    width: 90%;
}

.about-header h2{
    font-size: 2.5rem;
}
.about-card{
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
}

.about-header{
    margin-bottom: 40px;
}

.about-card{
    gap: 40px;
}

.choose-header{
    font-size: 2.4rem;
}

.choose-box{
    flex-direction: column;
    grid-template-columns:  repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.choose-content{
    padding: 40px 20px;
    width: 90%;
    margin: 0 auto;
}

.row2,
.column2,
.row1{
    grid-column: span 1;
    grid-row: span 1;
}


}

